#nine3-migrate .tab-content {
	display: block;
	background: none;
	padding: 0;
	margin: 0;
}

.progress-bar {
	position: relative;
	margin: 20px 0;
	max-width: 800px;
	opacity: 0;
}

.progress-bar.active {
	opacity: 1;
}

.progress-bar__inner {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 10px;
	padding: 10px 0;
	top: 0;
	left: 0;
	background-color: #fff;
	border-radius: 4px;
	border: 2px solid #007cba;
}

.progress-bar__loader {
	position: absolute;
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #46B450;
}

.field-map h4,
.field-map p {
	margin: 2px 0;
}

.field-map {
	display: flex;
	margin: 0 -20px;
}

.field-map__uploaded {
	width: calc(30% - 40px);
	padding: 20px;}

.field-map__current {
	width: calc(70% - 40px);
	padding: 20px;
}

.field-map__field {
	margin: 0 0 15px;
	border: 1px solid;
	padding: 3px 7px;
	overflow: hidden;
	cursor: pointer;
}
